@import "custom-variables";

:host {
  flex: 1;

  overflow-y: scroll;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer;
    @extend .flex-column;

    & > span {
      color: $light-blue;
      text-transform: uppercase;
      font-size: $font-size-sm;
      font-weight: $display2-weight;
    }

    h1 {
      margin-bottom: 0;
    }

    hr {
      margin-bottom: $spacer * 1.5;
      @extend .hr;
    }

    h2 {
      margin-bottom: $spacer * 1.5;
      font-size: 1.062rem;
    }

    form {

      div.form-check {

        label {
          margin-right: 0;
          padding-left: 2.875rem;

          & span.custom-control-indicator {
            top: 0;
            border: 1px solid $light-blue;
            background-size: auto;
          }

          input:checked ~ span.custom-control-indicator {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMCI+CiAgPHBhdGggZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiM1MjhCQ0MiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTEgNmwzIDMgOC04IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+);
            border-color: $blue;
          }

          & span.custom-control-description {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
          }

        }

      }

      div.form-row {
        margin-bottom: $spacer * 2;
        margin-left: 0;
        margin-right: 0;

        div.form-group {

          &.time {
            flex: 1;

            select {
              width: 100%;
              font-size: 1rem;
              font-weight: $display2-weight;
            }

          }

          &.dash {
            flex: 0 0 auto;

            margin-left: .25rem;
            margin-right: .25rem;

            span {
              color: $light-blue;
              font-size: 1rem;
              font-weight: $font-weight-light;
              line-height: calc(2.7577375rem + 2px);
            }

          }

        }

        &:last-of-type {
          margin-bottom: $spacer * .5;
        }

      }

    }

  }

}
