@import "custom-variables";

:host {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, .2);
  @extend .flex-row;

  div {
    justify-content: center;
    margin-left: $spacer * .5;
    margin-right: $spacer * .5;
    padding-top: $spacer * 1.5;
    background-color: $white;
    border-radius: $border-radius;
    @extend .flex-row;

    h1 {
      flex-basis: 100%;
      margin-bottom: $spacer;
      font-size: 1.0625rem;
      text-align: center;
    }

    p {
      flex-basis: 100%;
      margin-bottom: $spacer * 1.5;
      text-align: center;
    }

    button {
      flex-basis: calc(50% - .5px);
      height: $spacer * 3;
      background-color: transparent;
      color: $blue;
      font-size: 1.0625rem;
      border: none;
      border-top: .5px solid $light-blue;
      font-weight: $font-weight-bold;

      &:last-child {
        flex-basis: calc(50% + .5px);
        color: $red;
        border-left: .5px solid $light-blue;
      }

    }

  }

}
