@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    display: flex;
    flex-flow: wrap;
    padding-top: $spacer * 1.5;

    & > time {
      flex-basis: 100%;
      display: block;
      margin-bottom: $spacer * .5;
      color: $light-blue;
      font-weight: $display2-weight;
    }

    div.time {
      flex-basis: 100%;

      display: flex;
      margin-bottom: $spacer;

      time,
      span {
        color: $black;
        font-size: 1.25rem; // 20px
        font-weight: $font-weight-bold;
      }

      hr {
        flex: 1;
        margin-left: $spacer * .5;
        border-color: $light-blue;
        box-shadow: inset 0 -.5px 0 0 $light-blue;
      }

    }

    div.user {
      // flex-basis: 100%;
      flex-basis: calc(100% + #{$grid-gutter-width} * 2);

      display: flex;
      align-items: center;
      margin-left: - ($grid-gutter-width / 2);
      margin-right: - ($grid-gutter-width / 2);
      margin-bottom: $spacer * 1.5;
      padding-left: ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);
      overflow: hidden;

      img {
        width: 60px;
        height: 60px;
        margin-right: $spacer;
        border-radius: 50%;
      }

      & > div {
        flex: 1;

        overflow: hidden;

        h2 {
          margin-bottom: $spacer * .25;
          color: $blue;
          font-size: 1.0625rem; // 17px
          font-weight: $display3-weight;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          color: $text-muted;
        }

      }

    }

    // hr {
    //   position: relative;
    //   height: $line-height-base * 1.25rem;
    //   border: 0;
    //   line-height: $line-height-base;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     width: 100%;
    //     height: 1px;
    //     background-color: $light-blue;
    //   }

    //   &::after {
    //     content: attr(data-begin) "\00a0\2013\00a0" attr(data-end);
    //     position: relative;
    //     display: inline-block;
    //     padding-right: $spacer * .5;
    //     background-color: $white;
    //     color: $black;
    //     font-size: 1.25rem; // 20px
    //     font-weight: $font-weight-bold;
    //     line-height: $line-height-base;
    //   }

    // }

  }

}
