@import "custom-variables";

:host {
  flex: 1;

  overflow-y: scroll;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer * .5;
    @extend .flex-column;

    & > time {
      @extend .light-heading;
    }

    div.time {
      display: flex;
      margin-top: $spacer * .5;
      margin-bottom: $spacer * .5;

      time,
      span {
        color: $body-color;
        font-size: 1.25rem; // 20px
        font-weight: $font-weight-bold;
      }

      hr {
        flex: 1;

        margin-left: $spacer * .5;
        @extend .hr;
      }

    }

    div.user {
      @extend .user-item;
    }

    // hr {
    //   position: relative;
    //   height: $line-height-base * 1.25rem;
    //   border: 0;
    //   line-height: $line-height-base;

    //   &::before {
    //     content: "";
    //     position: absolute;
    //     top: 50%;
    //     width: 100%;
    //     height: 1px;
    //     background-color: $light-blue;
    //   }

    //   &::after {
    //     content: attr(data-begin) "\00a0\2013\00a0" attr(data-end);
    //     position: relative;
    //     display: inline-block;
    //     padding-right: $spacer * .5;
    //     background-color: $white;
    //     color: $body-color;
    //     font-size: 1.25rem; // 20px
    //     font-weight: $font-weight-bold;
    //     line-height: $line-height-base;
    //   }

    // }

  }

}
