<main class="container-fluid">

  <time>{{ '27 октября' }}</time>

  <div class="time">
    <time>{{ 1414400400000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1414402200000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/victor.jpg'" [name]="'Буркин Виктор'" [position]="'Менеджер в Газпром'" (click)="event($event)"></user-item>

  <div class="time">
    <time>{{ 1414409400000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1414411200000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/alex.jpg'" [name]="'Александров Александр'" [position]="'Менеджер по продажам в Ауди Варшавка'" (click)="event($event)"></user-item>

  <time>{{ '28 октября' }}</time>

  <div class="time">
    <time>{{ 1414479600000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1414481400000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/roman.jpg'" [name]="'Березуцкий Роман'" [position]="'Руководитель холдинга 5 Элемент'" (click)="event($event)"></user-item>

  <time>{{ '3 ноября' }}</time>

  <div class="time">
    <time>{{ 1509721200000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1509732000000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/arthur.jpg'" [name]="'Колесников Артур'" [position]="'Международный представитель Альфа-Банка'" (click)="event($event)"></user-item>

  <div class="time">
    <time>{{ 1509739200000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1509750000000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/dennis.jpg'" [name]="'Бережков Денис'" [position]="'Владелец ресторанной сети Golden Cafe'" (click)="event($event)"></user-item>

  <time>{{ '17 ноября' }}</time>

  <div class="time">
    <time>{{ 1510905600000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1510912800000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/max.jpg'" [name]="'Синицин Максим'" [position]="'Главный экономист МТС'" (click)="event($event)"></user-item>

  <div class="time">
    <time>{{ 1510927200000 | date: 'H:mm' }}</time>
    <span>&ndash;</span>
    <time>{{ 1510929000000 | date: 'H:mm' }}</time>
    <hr>
  </div>

  <user-item role="button" [image]="'../../../assets/images/vlad.jpg'" [name]="'Резников Владислав'" [position]="'Директор гипермаркета Ашан'" (click)="event($event)"></user-item>

  <!-- <hr [attr.data-begin]="1414400400000 | date: 'H:mm'" [attr.data-end]="1414402200000 | date: 'H:mm'"> -->

</main>
