@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer;
    @extend .flex-column;

    h2 {
      margin-bottom: 0;
      font-size: $font-size-base;
      @extend .light-heading;
    }

    user-item {
      margin-bottom: 0;
      padding-bottom: $spacer * .5;

      ::ng-deep h2 + span {
        display: inline-block;
        width: 100%;
        color: $body-color;
      }

    }

    hr {
      @extend .hr;

      &.separator {
        @extend .escape-flex-container;
      }

    }

  }

}
