@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    @extend .flex-row;
    padding-top: $spacer;
    padding-bottom: $spacer;

    h2 {
      margin-bottom: 0;
      font-size: $font-size-base;
      @extend .light-heading;
    }

    div.user {
      @extend .user-item;

      @extend .escape-flex-container;

      margin-bottom: 0;
      padding-bottom: $spacer * .5;
      @include pad-container(1);

      h2 + span {
        display: inline-block;
        width: 100%;
        color: $black;
      }

    }

    hr {
      flex-basis: 100%;

      @extend .hr;

      &.separator {
        @extend .escape-flex-container;
      }

    }

  }

}
