<main class="container-fluid">

  <h2>Новое</h2>

  <user-item role="button" [image]="'../../../assets/images/arthur.jpg'" [name]="'Колесников Артур'" [status]="'Отказался от встречи'" [time]="'25 ноя в 15:00 часов'" [place]="'Красный зал'" (click)="user($event)"></user-item>

  <hr class="separator">

  <h2>Ранее</h2>

  <user-item role="button" [image]="'../../../assets/images/vlad.jpg'" [name]="'Резников Владислав'" [status]="'Принял встречу'" [time]="'23 ноя в 11:00 часов'" [place]="'Красный зал'" (click)="event($event, true)"></user-item>

  <hr>

  <user-item role="button" [image]="'../../../assets/images/alex.jpg'" [name]="'Александров Александр'" [status]="'Перенёс встречу'" [time]="'25 ноя в 16:00 часов'" [place]="'Зелёный зал'" (click)="event($event, true)"></user-item>

  <hr>

  <user-item role="button" [image]="'../../../assets/images/victor.jpg'" [name]="'Буркин Виктор'" [status]="'Вами назначена встреча'" [time]="'27 ноя в 12:00 часов'" [place]="'Зелёный зал'" (click)="event($event)"></user-item>

</main>
