<main class="container-fluid">

  <h2>Новое</h2>

  <div class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/arthur.jpg'" [alt]="'Колесников Артур'">
    <div>
      <h2>{{ 'Колесников Артур' }}</h2>
      <span>{{ 'Отказался от встречи' }}:</span>
      <time>{{ '25 ноя в 15:00 часов' }}</time><span>, {{ 'Красный зал' }}</span>
    </div>
  </div>

  <hr class="separator">

  <h2>Ранее</h2>

  <div class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/vlad.jpg'" [alt]="'Резников Владислав'">
    <div>
      <h2>{{ 'Резников Владислав' }}</h2>
      <span>{{ 'Принял встречу' }}:</span>
      <time>{{ '23 ноя в 11:00 часов' }}</time><span>, {{ 'Красный зал' }}</span>
    </div>
  </div>

  <hr>

  <div class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/alex.jpg'" [alt]="'Александров Александр'">
    <div>
      <h2>{{ 'Александров Александр' }}</h2>
      <span>{{ 'Перенёс встречу' }}:</span>
      <time>{{ '25 ноя в 16:00 часов' }}</time><span>, {{ 'Зелёный зал' }}</span>
    </div>
  </div>

  <hr>

  <div class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/victor.jpg'" [alt]="'Буркин Виктор'">
    <div>
      <h2>{{ 'Буркин Виктор' }}</h2>
      <span>{{ 'Вами назначена встреча' }}:</span>
      <time>{{ '27 ноя в 12:00 часов' }}</time><span>, {{ 'Зелёный зал' }}</span>
    </div>
  </div>

</main>
