@import "custom-variables";

:host {
  @extend .scroll;
  flex: 1;

  main {
    @extend .flex-column;
    padding-top: $spacer;
    padding-bottom: $spacer;

    h2 {
      @extend .light-heading;
      font-size: $font-size-base;
    }

    user-item {
      margin-bottom: 0;
    }

    hr {
      @extend .hr;

      &.separator {
        @extend .escape-flex-container;
      }

    }

  }

}
