@import "custom-variables";
@import "breakpoints";

:host {
  flex: 1;

  overflow-y: scroll;

  main {
    @extend .flex-row;

    figure {
      position: relative;
      @extend .escape-container;

      span {
        position: absolute;
        bottom: 8px;
        left: 8px;
        padding-top: 0.334em;
        padding-bottom: 0.334em;
        background-color: rgba($gray-900, .6);
        font-size: $font-size-base;
        font-weight: $font-weight-normal;
        line-height: $line-height-base;
        opacity: 0;
        -webkit-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;

        &.go {
          opacity: 1;
        }

      }

    }

    h1 {
      flex-basis: 100%;
      margin-bottom: $spacer;
      font-size: 1.375rem; // 22px
    }

    div.begin-end {
      @extend .flex-50;
    }

    h2 {
      @extend .muted-heading;
    }

    & > button {
      -webkit-transition: $btn-transition, opacity 3s ease-in-out;
      transition: $btn-transition, opacity 3s ease-in-out;
      @extend .button;

      &:focus {
        opacity: 0;
      }

    }

    &.button-space {
      padding-bottom: $spacer * 3.5;
    }

  }

}
