@import "custom-variables";

:host {
  flex: 1;

  display: flex;
  flex-flow: column;

  header {
    padding-top: $spacer;

    h1 {
      margin-bottom: $spacer * .25;
      font-weight: $display4-weight;
    }

    nav {
      display: flex;
      height: calc(2.75rem - 2px);
      margin-left: - ($grid-gutter-width / 2);
      margin-right: - ($grid-gutter-width / 2);
      padding-left: $grid-gutter-width / 4;
      padding-right: $grid-gutter-width / 4;
      box-shadow: inset 0 -.5px 0 0 rgba($black, .15);

      button {
        flex: 1;
        background-color: transparent;
        color: $text-muted;
        border: none;
        font-size: .875rem;
        font-weight: $display3-weight;
        outline: none;

        &.active {
          color: $bright-blue !important;
          padding-top: 3px; // compensate border width
          border-bottom: 2px solid $bright-blue;
        }

        &.new {
          &::after {
            content: "\f111";
            position: relative;
            top: -9px;
            left: 1px;
            display: inline-block;
            width: 0;
            color: $red;
            font-family: FontAwesome;
            font-size: .438rem; // 6px icon width
          }
        }

      }

    }

  }

}
