<header class="container-fluid">
  <h1>Встречи</h1>
  <nav>
    <button routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Принятые</button>
    <button routerLink="incoming" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="['new']">Входящие</button>
    <button routerLink="outgoing" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="['new']">Исходящие</button>
  </nav>
</header>
<router-outlet></router-outlet>
