@import "custom-variables";

:host {
  flex: 1;

  display: flex;
  flex-flow: column;

  header {
    padding-top: $grid-gutter-width / 2;

    h1 {
      font-weight: $display4-weight;
    }

    nav {
      display: flex;
      height: 42px;
      margin-left: - ($grid-gutter-width / 4);
      margin-right: - ($grid-gutter-width / 4);
      box-shadow: inset 0 -.5px 0 0 rgba(0, 0, 0, .15);

      button {
        flex: 1;
        background-color: transparent;
        color: $text-muted;
        border: none;
        font-size: .875rem;
        font-weight: $display3-weight;
        outline: none;

        &.active {
          color: $bright-blue !important;
          border-bottom: 2px solid $bright-blue;
        }

        &.new::after {
          position: relative;
          top: -9px;
          left: 1px;
          color: #e64646;
          font-family: FontAwesome;
          font-size: .438rem;
          content: "\f111";
        }

      }

    }

  }

  main {
    flex: 1;
    overflow-y: scroll;
  }
}
