@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    @extend .flex-column;
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer;

    form {
      div.form-group {

        label {
          color: #909499;
          font-size: $font-size-sm;
        }

        textarea {
          border-color: $light-blue;
          font-size: 1rem;
        }

        &:last-of-type {
          margin-bottom: $spacer * 1.5;
        }

      }
    }

  }

}
