@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 3.5;
    @extend .flex-column;

    form {

      div.form-group {

        label {
          color: #909499;
          font-size: $font-size-sm;
        }

        label,
        small {
          font-size: $font-size-sm;
        }

        textarea {
          border-color: $light-blue;
          font-size: 1rem;
        }

        &:last-of-type {
          margin-bottom: $spacer * 1.5;
        }

      }

      & > button[type="submit"] {
        @extend .button;
      }

    }

  }

}
