@import "custom-variables";

:host {
  @extend .scroll;
  flex: 1;

  main {
    @extend .flex-column;
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 3.5;

    form {
      @extend .form;

      & > button[type="submit"] {
        @extend .button;
      }

    }

  }

}
