@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  footer {

    nav {
      display: flex;
      height: calc(2.75rem - 1px);
      background-color: $gray-100;
      border-top: .5px solid rgba(161, 184, 199, .35);

      button {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        outline: none;

        path {
          fill: #a1b8c7;
        }

        // i {

        //   &.fa-info-circle {
        //     font-size: 1.458rem;
        //   }

        //   &.fa-calendar-o {
        //     font-size: 1.177rem;
        //   }

        //   &.fa-users {
        //     font-size: 1.108rem;
        //   }

        //   &.fa-user-circle-o {
        //     font-size: 1.25rem;
        //   }

        // }

        &.active {

          path {
            fill: $bright-blue;
          }

        }

        &.new {
          &::after {
            position: relative;
            top: -12px;
            display: inline-block;
            width: 0;
            color: $red;
            font-family: FontAwesome;
            font-size: .438rem; // 6px icon width
            content: "\f111";
          }
        }

      }

    }

  }

}
