@import "custom-variables";

:host {
  display: flex;
  flex-flow: column;
  height: 100vh;

  footer {

    nav {
      display: flex;
      height: 44px;
      background-color: $gray-100;
      box-shadow: inset 0 .5px 0 0 rgba(161, 184, 199, .35);

      button {
        flex: 1;
        padding: 0;
        background-color: #a1b8c7;
        border: none;
        outline: none;

        &.info {
          mask: url("../../assets/icons/info.svg") no-repeat center;
        }

        &.events {
          mask: url("../../assets/icons/calendar.svg") no-repeat center;
        }

        &.people {
          mask: url("../../assets/icons/people.svg") no-repeat center;
        }

        &.profile {
          mask: url("../../assets/icons/profile.svg") no-repeat center;
        }

        // i {

        //   &.fa-info-circle {
        //     font-size: 1.458rem;
        //   }

        //   &.fa-calendar-o {
        //     font-size: 1.177rem;
        //   }

        //   &.fa-users {
        //     font-size: 1.108rem;
        //   }

        //   &.fa-user-circle-o {
        //     font-size: 1.25rem;
        //   }

        // }

        &.active {
          background-color: #5c9ce6;
        }
      }
    }

  }

}
