@import "custom-variables";

:host {
  display: flex;
  flex-flow: column;
  height: 100vh;

  footer {

    nav {
      display: flex;
      height: 44px;
      background-color: $gray-100;
      box-shadow: inset 0 .5px 0 0 rgba(161, 184, 199, .35);

      button {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;

        path {
          fill: #a1b8c7;
        }

        // i {

        //   &.fa-info-circle {
        //     font-size: 1.458rem;
        //   }

        //   &.fa-calendar-o {
        //     font-size: 1.177rem;
        //   }

        //   &.fa-users {
        //     font-size: 1.108rem;
        //   }

        //   &.fa-user-circle-o {
        //     font-size: 1.25rem;
        //   }

        // }

        &.active {

          path {
            fill: $bright-blue;
          }

        }

        &.new {

          &::after {
            position: relative;
            top: -12px;
            color: $red;
            font-family: FontAwesome;
            font-size: .438rem; // 6px icon width
            content: "\f111";
          }

        }

      }

    }

  }

}
