:host {
  display: flex;
  flex-flow: column;
  height: 100vh;

  footer {
    background-color: whitesmoke;

    nav {
      button {
        &.active {
          background: orange;
        }
      }
    }
  }
}
