@import "custom-variables";

:host {
  display: flex;
  flex-flow: column;
  height: 100vh;

  footer {

    nav {
      display: flex;
      height: 44px;
      background-color: $gray-100;
      box-shadow: inset 0 .5px 0 0 rgba(161, 184, 199, .35);

      button {
        flex: 1;
        color: #a1b8c7;
        border: none;
        outline: none;

        &.info {
          background: url("../../assets/icons/info.svg") no-repeat center;

          &.active {
            background-image: url("../../assets/icons/info-active.svg");
          }

        }

        &.events {
          background: url("../../assets/icons/calendar.svg") no-repeat center;

          &.active {
            background-image: url("../../assets/icons/calendar-active.svg");
          }

        }

        &.people {
          background: url("../../assets/icons/people.svg") no-repeat center;

          &.active {
            background-image: url("../../assets/icons/people-active.svg");
          }

        }

        &.profile {
          background: url("../../assets/icons/profile.svg") no-repeat center;

          &.active {
            background-image: url("../../assets/icons/profile-active.svg");
          }

        }

        // i {

        //   &.fa-info-circle {
        //     font-size: 1.458rem;
        //   }

        //   &.fa-calendar-o {
        //     font-size: 1.177rem;
        //   }

        //   &.fa-users {
        //     font-size: 1.108rem;
        //   }

        //   &.fa-user-circle-o {
        //     font-size: 1.25rem;
        //   }

        // }

        // &.active {
        //   background-color: $bright-blue;
        // }

        &.new::after {
          position: relative;
          top: -15px;
          left: 13px;
          color: #e64646;
          font-family: FontAwesome;
          font-size: .438rem;
          content: "\f111";
        }

      }

    }

  }

}
