$sf-ui-text-font-path: "#{$font-path}/sf-ui-text";

// @font-face {
//   font-family: "SF UI Text";
//   font-style: normal;
//   font-weight: 300;
//   font-display: fallback;
//   src: local("SF UI Text Light"), local("SF-UI-Text-Light"), url("#{$sf-ui-text-font-path}/sf-ui-text-light.woff2") format("woff2");
// }

// @font-face {
//   font-family: "SF UI Text";
//   font-style: italic;
//   font-weight: 300;
//   font-display: fallback;
//   src: local("SF UI Text Light Italic"), local("SF-UI-Text-LightItalic"), url("#{$sf-ui-text-font-path}/sf-ui-text-lightitalic.woff2") format("woff2");
// }

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("SF UI Text"), local("SF-UI-Text-Regular"), url("#{$sf-ui-text-font-path}/sf-ui-text-regular.woff2") format("woff2");
}

@font-face {
  font-family: "SF UI Text";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local("SF UI Text Italic"), local("SF-UI-Text-Italic"), url("#{$sf-ui-text-font-path}/sf-ui-text-italic.woff2") format("woff2");
}

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local("SF UI Text Medium"), local("SF-UI-Text-Medium"), url("#{$sf-ui-text-font-path}/sf-ui-text-medium.woff2") format("woff2");
}

// @font-face {
//   font-family: "SF UI Text";
//   font-style: italic;
//   font-weight: 500;
//   font-display: fallback;
//   src: local("SF UI Text Medium Italic"), local("SF-UI-Text-MediumItalic"), url("#{$sf-ui-text-font-path}/sf-ui-text-mediumitalic.woff2") format("woff2");
// }

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("SF UI Text Semibold"), local("SF-UI-Text-Semibold"), url("#{$sf-ui-text-font-path}/sf-ui-text-semibold.woff2") format("woff2");
}

// @font-face {
//   font-family: "SF UI Text";
//   font-style: italic;
//   font-weight: 700;
//   font-display: fallback;
//   src: local("SF UI Text Semibold Italic"), local("SF-UI-Text-SemiboldItalic"), url("#{$sf-ui-text-font-path}/sf-ui-text-semibolditalic.woff2") format("woff2");
// }

@font-face {
  font-family: "SF UI Text";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: local("SF UI Text Bold"), local("SF-UI-Text-Bold"), url("#{$sf-ui-text-font-path}/sf-ui-text-bold.woff2") format("woff2");
}

// @font-face {
//   font-family: "SF UI Text";
//   font-style: italic;
//   font-weight: 900;
//   font-display: fallback;
//   src: local("SF UI Text Bold Italic"), local("SF-UI-Text-BoldItalic"), url("#{$sf-ui-text-font-path}/sf-ui-text-bolditalic.woff2") format("woff2");
// }

// @font-face {
//   font-family: "SF UI Text";
//   font-style: normal;
//   font-weight: 900;
//   font-display: fallback;
//   src: local("SF UI Text Heavy"), local("SF-UI-Text-Heavy"), url("#{$sf-ui-text-font-path}/sf-ui-text-heavy.woff2") format("woff2");
// }

// @font-face {
//   font-family: "SF UI Text";
//   font-style: italic;
//   font-weight: 900;
//   font-display: fallback;
//   src: local("SF UI Text Heavy Italic"), local("SF-UI-Text-HeavyItalic"), url("#{$sf-ui-text-font-path}/sf-ui-text-heavyitalic.woff2") format("woff2");
// }
