@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer;
    @extend .flex-column;

    span {
      color: $light-blue;
      text-transform: uppercase;
      font-size: $font-size-sm;
      font-weight: $display2-weight;
    }

    h1 {
      margin-bottom: 0;
    }

    hr {
      margin-bottom: $spacer * 1.5;
      @extend .hr;
    }

    h2 {
      margin-bottom: $spacer * 1.5;
      font-size: 1.062rem;
    }

    form {

      div.form-group {

        label {
          color: #909499;
          font-size: $font-size-sm;
        }

        label,
        small {
          font-size: $font-size-sm;
        }

        textarea {
          font-size: 1rem;
        }

        &:last-of-type {
          margin-bottom: $spacer * 1.5;
        }

      }

    }

  }

}
