@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 5 * $spacer;

    figure {
      margin-left: - ($grid-gutter-width / 2);
      margin-right: - ($grid-gutter-width / 2);
    }

    div.begin-end {
      flex: 50%;
    }

    & > button {
      bottom: 60px;
      left: 15px;
      width: calc(100% - #{$grid-gutter-width})
    }

  }

}
