@import "custom-variables";
@import "breakpoints";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    display: flex;
    flex-flow: wrap;

    figure {
      position: relative;
      margin-left: - ($grid-gutter-width / 2);
      margin-right: - ($grid-gutter-width / 2);

      span {
        position: absolute;
        bottom: 8px;
        left: 8px;
        padding-top: 0.334em;
        padding-bottom: 0.334em;
        background-color: rgba($gray-900, .6);
        font-size: $font-size-base;
        font-weight: $display1-weight;
        line-height: $line-height-base;
        opacity: 0;
        -webkit-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;

        &.go {
          opacity: 1;
        }
      }
    }

    h1 {
      flex-basis: 100%;
      margin-bottom: 1.5 * $spacer;
      font-size: 1.375rem; // 22px
      font-weight: $font-weight-bold;
    }

    div.begin-end {
      flex: 50%;
      margin-bottom: $spacer;
    }

    h2 {
      color: $text-muted;
      font-size: .8125rem; // 13px
      font-weight: $display2-weight;
    }

    & > button {
      bottom: 60px;
      left: 15px;
      width: calc(100% - #{$grid-gutter-width});
      -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, opacity 3s ease-in-out;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, opacity 3s ease-in-out;

      &.btn-primary {
        box-shadow: 0 1px 2px 0 rgba(theme-color("primary"), .5);
      }

      &.btn-success {
        background-color: theme-color("success");
        box-shadow: 0 1px 2px 0 rgba(theme-color("success"), .5);

        &:active,
        &:hover {
          border-color: theme-color("success");
        }

      }

      &:focus {
        opacity: 0;
      }

    }

    &.button-space {
      padding-bottom: 3.5 * $spacer;
    }

  }

}
