@import "custom-variables";
@import "breakpoints";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 3.5 * $spacer;

    figure {
      position: relative;
      margin-left: - ($grid-gutter-width / 2);
      margin-right: - ($grid-gutter-width / 2);

      span {
        position: absolute;
        bottom: 8px;
        left: 8px;
        padding-top: 0.334em;
        padding-bottom: 0.334em;
        background-color: rgba(44, 44, 44, .6);
        font-size: $font-size-base;
        font-weight: $display1-weight;
        line-height: inherit;
      }
    }

    h1 {
      flex-basis: 100%;
    }

    div.begin-end {
      flex: 50%;
    }

    & > button {
      bottom: 60px;
      left: 15px;
      width: calc(100% - #{$grid-gutter-width});
      box-shadow: 0 1px 2px 0 rgba(12, 51, 96, .5);
      transition: background-color 3s, box-shadow .5s, opacity 3s;

      &:focus {
        background-color: $green;
        box-shadow: none;
        opacity: 0;
      }

    }

  }

}
