@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    display: flex;
    flex-flow: wrap;
    padding-top: $spacer;
    padding-bottom: $spacer;

    div.user {
      @extend .user-item;
    }

    div.time-place {
      @extend .flex-50;
    }

    h2 {
      @extend .muted-heading;
    }

    div.warning {
      margin-bottom: $spacer;

      span {
        color: $red;
        font-weight: $display2-weight;
      }

    }

    button {
      flex-basis: calc(50% - #{$spacer} * .25);

      margin-bottom: $spacer * .5;
      margin-right: $spacer * .5;

      & + button {
        margin-right: 0;
      }

    }

    hr {
      flex-basis: 100%;

      border-color: $light-blue;
      box-shadow: inset 0 -.5px 0 0 $light-blue;
    }

  }

}
