<main class="container-fluid">

  <div role="button" class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/dennis.jpg'" [alt]="'Бережков Денис'">
    <div>
      <h2>{{ 'Бережков Денис' }}</h2>
      <span>{{ 'Владелец ресторанной сети Golden Cafe' }}</span>
    </div>
  </div>

  <div class="time-place">
    <h2>Время</h2>
    <span>21 ноя в {{ '13:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Зелёный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'У меня есть предложение, от которого вы не сможете отказаться. Мне нужно буквально 10 минут.' }}
    </p>
  </div>

  <div class="warning" *ngIf="false">
    <p>
      {{ 'На данное время назначена встреча' }}
    </p>
  </div>

  <button class="btn btn-primary" (click)="accept($event)">Принять</button>

  <button class="btn btn-secondary" (click)="more($event)">Ещё</button>

  <hr>

  <div role="button" class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/max.jpg'" [alt]="'Синицин Максим'">
    <div>
      <h2>{{ 'Синицин Максим' }}</h2>
      <span>{{ 'Главный экономист МТС' }}</span>
    </div>
  </div>

  <div class="time-place">
    <h2>Время</h2>
    <span>26 ноя в {{ '21:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Красный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'Хочу обсудить с вами вопросы по продажам.' }}
    </p>
  </div>

  <div class="warning" *ngIf="true">
    <span>{{ 'На данное время назначена встреча' }}</span>
  </div>

  <button class="btn btn-secondary" (click)="accept($event)">Перенести</button>

  <button class="btn btn-secondary" (click)="more($event)">Отклонить</button>

  <hr>

  <div role="button" class="user" (click)="navigate($event)">
    <img [src]="'../../../assets/images/roman.jpg'" [alt]="'Березуцкий Роман'">
    <div>
      <h2>{{ 'Березуцкий Роман' }}</h2>
      <span>{{ 'Руководитель холдинга 5 Элемент' }}</span>
    </div>
  </div>

  <div class="time-place">
    <h2>Время</h2>
    <span>23 ноя в {{ '17:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Красный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'Предлагаю сотрудничество на выгодных условиях.' }}
    </p>
  </div>

  <div class="warning" *ngIf="true">
    <span>{{ 'Перенёс встречу: 27 ноя 17:00, Зелёный зал' }}</span>
  </div>

  <button class="btn btn-primary" (click)="accept($event)">Принять</button>

  <button class="btn btn-secondary" (click)="more($event)">Ещё</button>

  <incoming-modal role="button" [hidden]="!modal" [type]="type" (dismiss)="dismiss($event)"></incoming-modal>

</main>
