<main class="container-fluid">

  <user-item role="button" [image]="'assets/images/dennis.jpg'" [name]="'Бережков Денис'" [position]="'Владелец ресторанной сети Golden Cafe'" (click)="user($event)"></user-item>

  <div class="time-place">
    <h2>Время</h2>
    <span>21 ноя в {{ '13:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Зелёный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'У меня есть предложение, от которого вы не сможете отказаться. Мне нужно буквально 10 минут.' }}
    </p>
  </div>

  <div class="warning" *ngIf="false">
    <p>
      {{ 'На данное время назначена встреча' }}
    </p>
  </div>

  <button class="btn btn-primary" (click)="accept($event)">Принять</button>

  <button class="btn btn-secondary" (click)="more($event)">Ещё</button>

  <hr>

  <user-item role="button" [image]="'assets/images/max.jpg'" [name]="'Синицин Максим'" [position]="'Главный экономист МТС'" (click)="user($event)"></user-item>

  <div class="time-place">
    <h2>Время</h2>
    <span>26 ноя в {{ '21:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Красный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'Хочу обсудить с вами вопросы по продажам.' }}
    </p>
  </div>

  <div class="warning" *ngIf="true">
    <span>{{ 'На данное время назначена встреча' }}</span>
  </div>

  <button class="btn btn-secondary" (click)="reschedule($event)">Перенести</button>

  <button class="btn btn-secondary" (click)="cancel($event)">Отклонить</button>

  <hr>

  <user-item role="button" [image]="'assets/images/roman.jpg'" [name]="'Березуцкий Роман'" [position]="'Руководитель холдинга 5 Элемент'" (click)="user($event)"></user-item>

  <div class="time-place">
    <h2>Время</h2>
    <span>23 ноя в {{ '17:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Красный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'Предлагаю сотрудничество на выгодных условиях.' }}
    </p>
  </div>

  <div class="warning" *ngIf="true">
    <span>{{ 'Перенёс встречу: 27 ноя 17:00, Зелёный зал' }}</span>
  </div>

  <button class="btn btn-primary" (click)="accept($event)">Принять</button>

  <button class="btn btn-secondary" (click)="more($event)">Ещё</button>

  <incoming-modal role="button" [hidden]="!incoming" (dismiss)="dismissIncoming($event)"></incoming-modal>

  <event-modal role="button" [hidden]="!event" (dismiss)="dismissEvent($event)"></event-modal>

</main>
