@import "custom-variables";

:host {
  @extend .scroll;
  flex: 1;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer;
    @extend .flex-row;

    user-item {
      @extend .flex-100;
    }

    div.time-place {
      @extend .flex-50;
    }

    div.time-place,
    div.comment {
      & h2 {
        @extend .muted-heading;
      }
    }

    div.comment,
    div.warning {
      @extend .flex-100;
    }

    div.warning {
      margin-bottom: $spacer;

      span {
        color: $red;
        font-weight: $display2-weight;
      }

    }

    button {
      flex: calc(50% - #{$spacer} * .25);
      margin-bottom: $spacer * .5;
      margin-right: $spacer * .5;

      & + button {
        margin-right: 0;
      }

    }

    hr {
      @extend .flex-100;
      @extend .hr;
    }

  }

}
