@import "custom-variables";

:host {
  @extend .flex-column;
  height: 100vh;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $display2-weight;
      text-decoration: none;

      svg {
        position: relative;
        top: 1px;

        path {
          font-weight: normal;
          fill: $blue;
        }

      }

    }


  }

  main {
    @extend .flex-column;
    flex: 1;
    overflow-y: scroll;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;

    h1 {
      margin-bottom: 0;
    }

    hr {
      @extend .hr;
    }

    div.user {
      @extend .flex-row;
      flex: 0 0 auto;
      align-items: center;
      margin-bottom: $spacer * 1.5;

      img {
        @extend .avatar;
      }

      h2 {
        font-size: 1.0625rem;
        font-weight: normal;
      }

    }

    form {
    @extend .form;

      div.form-row {
        margin-bottom: 0;
      }

    }

  }

}
