@import "custom-variables";

:host {
  @extend .flex-column;
  height: 100vh;

  main {
    @extend .flex-column;
    @extend .scroll;
    flex: 1;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;

    h1 {
      margin-bottom: 0;
    }

    hr {
      @extend .hr;
    }

    div.user {
      @extend .flex-row;
      flex: 0 0 auto;
      align-items: center;
      margin-bottom: $spacer * 1.5;

      img {
        @extend .avatar;
      }

      h2 {
        font-size: 1.0625rem;
        font-weight: normal;
      }

    }

    form {
    @extend .form;

      div.form-row {
        margin-bottom: 0;
      }

    }

  }

}
