<header class="container-fluid">

  <form (reset)="focus($event)">
    <div class="form-group">
      <input type="search" class="form-control" aria-describedby="search" placeholder="&#xF002; Поиск" #search (keydown.enter)="enter($event)">
      <span class="input-group-addon">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
      <span class="input-group-addon">
        <button type="reset">
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </form>

  <hr>

</header>

<main class="container-fluid">

  <ng-template [ngIf]="true" [ngIfElse]="notfound">

    <user-item role="button" [image]="'../../../assets/images/vlad.jpg'" [name]="'Резников Владислав'" [position]="'Директор гипермаркета Ашан'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/max.jpg'" [name]="'Синицин Максим'" [position]="'Главный экономист МТС'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/alex.jpg'" [name]="'Александров Александр'" [position]="'Менеджер по продажам в Ауди Варшавка'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/roman.jpg'" [name]="'Березуцкий Роман'" [position]="'Руководитель холдинга 5 Элемент'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/arthur.jpg'" [name]="'Колесников Артур'" [position]="'Международный представитель Альфа-Банка'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/victor.jpg'" [name]="'Буркин Виктор'" [position]="'Менеджер в Газпром'" (click)="user($event)"></user-item>

    <user-item role="button" [image]="'../../../assets/images/dennis.jpg'" [name]="'Бережков Денис'" [position]="'Владелец ресторанной сети Golden Cafe'" (click)="user($event)"></user-item>

  </ng-template>

  <ng-template #notfound>
    <span>Не найдено</span>
  </ng-template>

</main>
