@import "custom-variables";

:host {
  flex: 1;

  overflow-y: scroll;

  main {
    padding-top: $spacer;
    padding-bottom: $spacer * .5;
    @extend .flex-column;

    form {
      div.form-group {
        display: flex;
        margin-bottom: 0;

        input {
          padding-left: .25rem;
          padding-right: .25rem;
          background: $white-blue;
          border: none;
          font-size: 1rem;

          &::placeholder {
            color: $light-blue;
            font-family: FontAwesome, $font-family-sans-serif;
            text-align: center;
          }

          &:focus {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:placeholder-shown::placeholder {
              visibility: hidden;
            }

            & + span.input-group-addon {
              display: block;
            }

          }

          &:not(:placeholder-shown) {
            border-radius: 0;

            & ~ span.input-group-addon {
              display: block;
            }

          }

        }

        span.input-group-addon {
          display: none;
          background: $white-blue;
          color: $light-blue;
          border: none;
          font-size: 1rem;

          &:first-of-type {
            order: -1;

            padding-right: .25rem;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
          }

          &:last-of-type {
            padding-left: .25rem;

            button[type="reset"] {
              padding: 0;
              background: $white-blue;
              color: $light-blue;
              border: none;
              outline: none;
              line-height: 1rem;

              i {
                cursor: pointer;
              }

            }

          }

        }

      }
    }

    & > span {
      align-self: center;

      margin-top: $spacer * .5;
    }

    div.user {
      @extend .user-item;
    }

    hr {
      @extend .hr;
    }

  }

}
