@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    @extend .flex-column;
    padding-top: $spacer;
    padding-bottom: $spacer * .5;

    form {
      div.form-group {
        display: flex;
        margin-bottom: 0;

        input {
          padding-left: .5rem;
          padding-right: .5rem;
          background: $white-blue;
          border: none;
          font-size: 1rem;

          &::placeholder {
            color: $light-blue;
            font-family: FontAwesome, $font-family-sans-serif;
            text-align: center;
          }

          &:focus {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:placeholder-shown::placeholder {
              visibility: hidden;
            }

            & + div.input-group-addon {
              display: block;
            }

          }

          &:not(:placeholder-shown) {
            border-radius: 0;

            & + div.input-group-addon,
            & ~ button[type="reset"] {
              display: block;
            }

          }

        }

        div.input-group-addon,
        button[type="reset"] {
          display: none;
          background: $white-blue;
          color: $light-blue;
          border: none;
          font-size: 1rem;
        }

        div.input-group-addon {
          order: -1;

          padding-right: 0;
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        button[type="reset"] {
          padding-left: 0;
        }

      }
    }

    & > span {
      align-self: center;

      margin-top: $spacer * .5;
    }

    div.user {
      @extend .user-item;
    }

    hr {
      @extend .hr;
      width: 100%;
    }

  }

}
