<header class="container-fluid">
  <toolbar></toolbar>
</header>

<main class="container-fluid">

  <user-item role="button" [image]="'../../../assets/images/victor.jpg'" [name]="'Буркин Виктор'" [position]="'Менеджер в Газпром'" (click)="user($event)"></user-item>

  <hr>

  <div class="time-place">
    <h2>Время</h2>
    <span>27 ноя в {{ '12:00' }}</span>
  </div>

  <div class="time-place">
    <h2>Место</h2>
    <span>{{ 'Зелёный зал' }}</span>
  </div>

  <div class="comment">
    <h2>Комментарий</h2>
    <p>
      {{ 'У меня есть предложение, от которого вы не сможете отказаться. Мне нужно буквально 10 минут.' }}
    </p>
  </div>

  <!-- <div class="warning" *ngIf="true">
    <p>
      {{ 'На данное время назначена встреча' }}
    </p>
  </div> -->

  <button class="btn btn-secondary" *ngIf="!pending" (click)="reschedule($event)">Перенести</button>

  <button class="btn btn-secondary" *ngIf="!pending" (click)="cancel($event)">Отклонить</button>

  <div class="appointment" *ngIf="pending">
    {{ status }}
  </div>

  <event-modal role="button" [hidden]="!modal" (dismiss)="dismiss($event)"></event-modal>

</main>
