@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $font-weight-bold;
      text-decoration: none;

      svg {
        position: relative;
        top: 1px;

        path {
          font-weight: normal;
          fill: $blue;
        }

      }


    }

  }

}
