@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $display2-weight;
      text-decoration: none;
    }

  }

}
