@import "custom-variables";

:host {
  @extend .flex-column;
  height: 100vh;

  main {
    @extend .flex-row;
    overflow-y: scroll;
    padding-bottom: $spacer;

    div.user {
      @extend .flex-100;
      @extend .user-item;
      margin-bottom: 0;
    }

    hr {
      @extend .flex-100;
      @extend .hr;
    }

    div.time-place {
      @extend .flex-50;
    }

    div.time-place,
    div.comment {
      & h2 {
        @extend .muted-heading;
      }
    }

    div.comment,
    div.warning {
      @extend .flex-100;
    }

    // div.warning {
    //   margin-bottom: $spacer;

    //   span {
    //     color: $red;
    //     font-weight: $display2-weight;
    //   }

    // }

    button {
      flex: calc(50% - #{$spacer} * .25);
      margin-bottom: $spacer * .5;
      margin-right: $spacer * .5;

      & + button {
        margin-right: 0;
      }

    }

    div.appointment {
      @extend .appointment-pane;
    }

  }

}
