@import "custom-variables";

:host {
  flex: 1;

  overflow-y: scroll;

  header {
    padding-top: $spacer;

    span {
      color: $light-blue;
      text-transform: uppercase;
      font-size: $font-size-sm;
      font-weight: $display2-weight;
    }

    h1 {
      margin-bottom: 0;
    }

    hr {
      @extend .hr;
    }

  }

  main {
    padding-top: $spacer * .5;
    padding-bottom: $spacer;
    @extend .flex-column;


    h2 {
      margin-bottom: $spacer * 1.5;
      font-size: 1.062rem;
    }

    img {
      align-self: center;
      width: 100px;
      height: 100px;
      margin-bottom: $spacer;
      border-radius: 50%;
    }

    form {

      div.form-group {

        label {
          color: #909499;
          font-size: $font-size-sm;
        }

        input {
          font-size: 1rem;
        }

        &:first-child {
          text-align: center;

          label[for="photo"] {
            color: $blue;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
          }

          input[type="file"] {
            display: none;
          }

        }

        &:last-of-type {
          margin-bottom: $spacer * 1.5;
        }

      }

    }

  }

}
