@import "custom-variables";

:host {
  @extend .scroll;
  flex: 1;

  header {
    padding-top: $spacer;

    span {
      color: $light-blue;
      text-transform: uppercase;
      font-size: .8125rem;
      font-weight: $display2-weight;
    }

    h1 {
      margin-bottom: 0;
    }

    hr {
      @extend .hr;
    }

  }

  main {
    @extend .flex-column;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;

    h2 {
      margin-bottom: $spacer * 1.5;
      font-size: 1.062rem;
    }

    img {
      @extend .profile-image;
    }

    form {
      @extend .form;

      div.form-group {
        &:first-child {
          text-align: center;

          label[for="photo"] {
            color: $blue;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
          }

          input[type="file"] {
            display: none;
          }

        }
      }

    }

  }

}
