@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 3.5;
    @extend .flex-column;

    form {

      div.form-check {

        label {
          margin-right: 0;
          padding-left: 2.875rem;

          & span.custom-control-indicator {
            top: 0;
            border: 1px solid $light-blue;
          }

          input:checked ~ span.custom-control-indicator {
            border-color: $blue;
          }

          & span.custom-control-description {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
          }

        }

      }

      div.form-row {
        margin-bottom: $spacer * 2;
        margin-left: 0;
        margin-right: 0;

        div.form-group {

          &.time {
            flex: 1;

            select {
              width: 100%;
              font-size: 1rem;
              font-weight: $display2-weight;
            }

          }

          &.dash {
            flex: 0 0 auto;

            margin-left: .25rem;
            margin-right: .25rem;

            span {
              font-size: 1rem;
              font-weight: $display2-weight;
              line-height: calc(2.7577375rem + 2px);
            }

          }

        }

        &:last-of-type {
          margin-bottom: $spacer * .5;
        }

      }

      & > button[type="submit"] {
        @extend .button;
      }

    }

  }

}
