@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $display2-weight;
      text-decoration: none;

      svg {
        position: relative;
        top: 1px;

        path {
          font-weight: normal;
          fill: $blue;
        }

      }

    }

  }

  main {
    flex: 1;

    overflow-y: scroll;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;
    @extend .flex-column;

    img {
      @extend .profile-image;
    }

    h1 {
      font-size: 1.0625rem;
    }

    h1,
    span {
      text-align: center;
    }

    span {
      color: $text-muted;
    }

    div.appointment {
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer * .5;
      padding: $spacer * .75 $spacer * 1;
      background-color: $white-blue;
      font-size: 1rem;
      font-weight: $display2-weight;
      border-radius: $border-radius;
      text-align: center;
    }

    hr {
      @extend .hr;

      &:last-of-type {
        margin-bottom: $spacer * 1.5;
      }

    }

    div {

      svg {
        position: relative;
        margin-right: $spacer;

        path {
          fill: $blue;
        }

        &:first-of-type {
          top: .0625rem; // 1px
        }

        &:last-of-type {
          top: .1875rem; // 3px
        }

      }

      a {
        font-weight: $font-weight-bold;
      }

    }

    div {
      h2 {
        @extend .muted-heading;
      }
    }

    & > button {
      bottom: 1rem;
      @extend .opaque-button;
    }

    &.button-space {
      padding-bottom: $spacer * 4;
    }

  }

}
