<header class="container-fluid">
  <a href (click)="back($event)">

    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14">
      <g fill="none">
        <path fill="#000" d="M6.497 0L0 7l6.497 7L8 12.81 2.61 7 8 1.192"/>
      </g>
    </svg>

    Назад

  </a>
</header>

<main class="container-fluid">

  <div role="button" class="user" role="button" (click)="navigate($event)">
    <img [src]="'../../../assets/images/victor.jpg'" [alt]="'Буркин Виктор'">
    <div>
      <h2>{{ 'Буркин Виктор' }}</h2>
      <span>{{ 'Менеджер в Газпром' }}</span>
    </div>
  </div>

  <hr>

  <!-- <event-modal role="button" [hidden]="!modal" [type]="type" (dismiss)="dismiss($event)"></event-modal> -->

</main>
