@import "custom-variables";

:host {
  @extend .flex-column;
  height: 100vh;

  main {
    @extend .flex-column;
    flex: 1;
    overflow-y: scroll;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;

    img {
      @extend .profile-image;
    }

    h1 {
      font-size: 1.0625rem;
    }

    h1,
    span {
      text-align: center;
    }

    span {
      color: $text-muted;
    }

    div.appointment {
      @extend .appointment-pane;
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer * .5;
    }

    hr {
      @extend .hr;
      border-width: $border-width * .5;
    }

    div.link {
      margin-bottom: $spacer;
      padding-bottom: $spacer;
      border-bottom: $border-width * .5 solid $light-blue;

      svg {
        position: relative;
        top: .0625rem; // 1px
        margin-right: $spacer;

        path {
          fill: $blue;
        }

      }

      a {
        font-weight: $font-weight-bold;
        vertical-align: top;
      }

      & + div.link {
        margin-bottom: $spacer * 1.5;

        svg {
          top: .125rem; // 2px
        }

      }

    }

    div {
      h2 {
        @extend .muted-heading;
      }
    }

    & > button {
      @extend .button;
      bottom: 1rem;
    }

    &.button-space {
      padding-bottom: $spacer * 4;
    }

  }

}
