@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $display2-weight;
      text-decoration: none;

      svg {
        position: relative;
        top: 1px;

        path {
          font-weight: normal;
          fill: $blue;
        }

      }

    }

  }

  main {
    flex: 1;

    overflow-y: scroll;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;
    @extend .flex-column;

    img {
      @extend .profile-image;
    }

    h1 {
      font-size: 1.0625rem;
    }

    h1,
    span {
      text-align: center;
    }

    span {
      color: $text-muted;
    }

    div.appointment {
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer * .5;
      @extend .appointment-pane;
    }

    hr {
      border-width: $border-width * .5;
      @extend .hr;
    }

    div.link {
      margin-bottom: $spacer;
      padding-bottom: $spacer;
      border-bottom: $border-width * .5 solid $light-blue;

      svg {
        position: relative;
        top: .0625rem; // 1px
        margin-right: $spacer;

        path {
          fill: $blue;
        }

      }

      a {
        font-weight: $font-weight-bold;
        vertical-align: top;
      }

      & + div.link {
        margin-bottom: $spacer * 1.5;

        svg {
          top: .125rem; // 2px
        }

      }

    }

    div {
      h2 {
        @extend .muted-heading;
      }
    }

    & > button {
      bottom: 1rem;
      @extend .opaque-button;
    }

    &.button-space {
      padding-bottom: $spacer * 4;
    }

  }

}
