@import "custom-variables";

:host {
  height: 100vh;
  @extend .flex-column;

  header {
    padding-top: $spacer;
    padding-bottom: $spacer;

    a {
      font-size: 1.0625rem;
      font-weight: $display2-weight;
      text-decoration: none;

      svg {
        position: relative;
        top: 1px;

        path {
          font-weight: normal;
          fill: $blue;
        }

      }

    }

  }

  main {
    overflow-y: scroll;
    padding-top: $spacer * .5;
    padding-bottom: $spacer;
    @extend .flex-row;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: $spacer;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
    }

    h1 {
      font-size: 1.0625rem;
      text-align: center;
      @extend .flex-100;
    }

    span {
      color: $text-muted;
      text-align: center;
      @extend .flex-100;
    }

    div.appointment {
      margin-top: $spacer * 1.5;
      margin-bottom: $spacer * .5;
      padding: $spacer * .75 $spacer * 1;
      background-color: $white-blue;
      font-size: 1rem;
      font-weight: $display2-weight;
      border-radius: $border-radius;
      text-align: center;
      @extend .flex-100;
    }

    hr {
      @extend .flex-100;
      @extend .hr;
    }

    svg {
      position: relative;
      margin-right: $spacer;

      path {
        fill: $blue;
      }

      &:first-of-type {
        top: .0625rem; // 1px
      }

      &:last-of-type {
        top: .1875rem; // 3px
      }

    }

    a {
      font-weight: $font-weight-bold;
    }

  }

}
