@import "custom-variables";

:host {
  flex: 1;

  @extend .flex-column;

  header {
    padding-top: $spacer;

    h1 {
      margin-bottom: $spacer * .25;
      font-weight: $font-weight-bold;
    }

    nav {
      @extend .tabs;
    }

  }

}
