@import "custom-variables";

:host {
  // @extend .escape-flex-container;
  // @include pad-container();
  display: flex;
  align-items: center;
  margin-bottom: $spacer * .5;
  padding-top: $spacer * .5;
  padding-bottom: $spacer * .5;
  overflow: hidden;
  cursor: pointer;

  img {
    @extend .avatar;
  }

  & > div {
    flex: 1;
    overflow: hidden;

    h2 {
      margin-bottom: $spacer * .25;
      color: $blue;
      font-size: 1.0625rem; // 17px
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span,
    time {
      color: $text-muted;
    }

  }

}
