@import "custom-variables";

:host {
  flex: 1;

  overflow-y: scroll;

  main {
    padding-bottom: $spacer;
    @extend .flex-row;

    div.user {
      margin-bottom: 0;
      @extend .user-item;
    }

    hr {
      @extend .hr;
    }

    div.time-place {
      margin-top: $spacer * .5;
      @extend .flex-50;
    }

    h2 {
      @extend .muted-heading;
    }

    div.warning {
      margin-bottom: $spacer;

      span {
        color: $red;
        font-weight: $display2-weight;
      }

    }

    button {
      flex-basis: calc(50% - #{$spacer} * .25);

      margin-bottom: $spacer * .5;
      margin-right: $spacer * .5;

      & + button {
        margin-right: 0;
      }

    }

  }

}
