@import "custom-variables";

:host {
  flex: 1;
  overflow-y: scroll;

  main {
    @extend .flex-column;
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer * 3.5;

    img {
      @extend .profile-image;
    }

    form {
      @extend .form;

      div.form-group {
        &:first-child {
          text-align: center;

          label[for="photo"] {
            color: $blue;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;
          }

          input[type="file"] {
            display: none;
          }

        }
      }

      & > button[type="submit"] {
        @extend .button;
      }

    }

  }

}
